@model FunApp.Web.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@for (var i = 0; i < 5; i++)
{
    <div class="row">
        @for (int j = 0; j < 2; j++)
        {
            var index = i * 2 + j;

            <div class="panel panel-default col-lg-6">
                <div class="panel-body">
                    <p>@Model.IndexJokeViewModels.ElementAt(index).Content</p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">@Model.IndexJokeViewModels.ElementAt(index).CategoryName</li>
                </ul>
            </div>
        }
    </div>
}